/* Content styles */
.body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 70px 80px;
  flex-wrap: wrap;
}

.content-left {
  max-width: 900px;
}

.hi-my-name {
  font-size: 40px;
  font-weight: 700;
}

.my-career {
  font-size: 40px;
  font-weight: 700;
  color: #3B82F6;
  line-height: 40px;
  margin-bottom: 20px;
}

.subtitle {
  color: #bcbfc5;
  font-weight: 600;
  margin-bottom: 20px;
}

.my-picture  {
  height: 250px;
  width: 250px;
  border-radius: 125px;
  box-shadow: 100;
  margin-right: 100px;
  margin-left: 30px;
  box-shadow: 15px 10px 50px 20px #1a2d4f;
}

.my-resume {
  text-align: start
}

.resume-button {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  color: white;
  border: solid 1.5px rgb(97, 97, 97);
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.resume-button:hover {
  background-color: rgb(97, 97, 97);
  color: rgb(0, 0, 0);
  border-color: rgb(97, 97, 97);
}

/* featured Projects styles */

.featured-projects {
  background-color: #18212f;
  padding: 70px 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.featured-projects-main-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 50px;
}

.featured-projects-grid {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
}

.featured-projects-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.featured-projects-subtitle {
  font-weight: 700;
  font-size: 14px;
  color: #bcbfc5;
}

.featured-projects-cards {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  border-radius: 8px;
  width: 440px;
}

.image-project1 {
  height: 250px;
  width: 440px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.featured-projects-content {
  padding-left: 25px;
  padding-right: 25px;
}

.featured-projects-skills-used {
  display: flex;
}

