/* Content styles */

.content {
  display: flex;
  flex-direction: row;
  padding: 70px 60px;
}

.hi-my-name {
  font-size: 40px;
  font-weight: 700;
}

.my-career {
  font-size: 40px;
  font-weight: 700;
  color: #3B82F6;
  line-height: 40px;
  margin-bottom: 20px;
}

.subtitle {
  color: #bcbfc5;
  font-weight: 600;
  margin-bottom: 20px;
}

.my-picture  {
  height: 250px;
  width: 250px;
  border-radius: 125px;
  box-shadow: 100;
  margin-right: 100px;
  margin-left: 30px;
  box-shadow: 15px 10px 50px 20px #1a2d4f;
}

.my-resume {
  text-align: start
}

.resume-button {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(145, 141, 141);
  color: rgb(22, 22, 22);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s, padding 0.5s, color 0.5s;
}

.resume-button:hover {
  background-color: rgb(37, 37, 37);
  color: white;
  border-radius: 25px;
}

/* featured Projects styles */

.featured-projects {
  height: 500px;
  background-color: #18212f;
  padding: 70px 60px;
}

.featured-projects-title {
  font-weight: 700;
  font-size: 20px;
}