header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #111827;
  border-bottom: solid 1px rgba(255, 255, 255, 0.055);
  height: 50px;
  padding-right: 80px;
  padding-left:80px;
}

.header-left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 20px;
}

span {
  color: #3B82F6;
}

.header-right-section {
  display: flex;
  flex-direction: row;
  font-weight: 600;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

.header-menu {
  margin: 10px;
}