.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 37, 37);
  height: 80px;
  padding-right: 20px;
  padding-left: 20px;
}

.header-left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-logo {
  height: 40px;
  width: 40px;
  object-fit: fill;
  object-position: center;
  border-radius: 20px;
  margin-right: 8px;
}

.header-right-section {
  display: flex;
  flex-direction: row;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

.header-menu {
  margin: 10px;
}